.Header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.Header div{
    display: inline-block;
    vertical-align: middle;
}

.Navigation{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(98% - 90px);
}

.Items{
    list-style: none;
    margin: 0;
    padding:0;
}

.Items li{
    display: inline-block;
    margin: 0 16px;  
}

.Item {
    color: #36a8dd;
    font-weight: bold;    
}

.Cart{
    position: relative;
}

.CartObject{
    position: absolute;
    background-color: #36a8dd;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    font-size: 80%;
    color: white;
}
