.Product{
    text-align: center;
    display: inline-block;
    width: calc(45% - 10px);
    background-color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Product img{
    width: 90%;
    
}

.Name{
    color: #36a8dd;
    width: 100%;
}
.Product h4{
    width: 100%;
}

.ButtonItem{
    background: transparent;
    color: #36a8dd;
    padding: 5px;
    border: 2px solid #36a8dd;
}

.ButtonItem:hover{
    cursor: pointer;
    color:white;
    background: #36a8dd;
}

@media (min-width: 600px){
    .Product{
        width: 30%;
    }
}

/* align-self: flex-end */